// This is where your application styles could go.
.Main-module--main--8vph2 > * + * {
    width: calc(100% - 3rem) !important;
}


.Banner-module--grid--3L\+QD {
    height: 200px !important;
}

.bx--article-card__title{
    font-size: 1.3rem !important;
    font-style: normal !important;

}

.bx--link {
    font-size: 1.2rem !important;
    font-style: normal !important;
    width: calc(100% - 3rem) !important;
    border-left: #4da2f7;
    border-style: solid;
    padding-left: 10px;
}




.bx--inline-notification__subtitle {
    width: calc(150%) !important;
}


.bx--accordion {
    width: calc(150% - 3rem) !important;
}

.bx--accordion__item {
    background-color: #4da2f7;
    margin-bottom: 100px;
    margin-left: 30px;
}


.bx--accordion__heading {
    padding-left: 0px;

}

.bx--accordion__title{
    font-size: 1.3rem !important;
    font-style: normal !important;

}


.bx--accordion__content {
    background-color: #deecfd;
    padding-left: 30px;
}


h2 {
    width: calc(150% - 3rem) !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;

}

.Code-module--row--Iifgu {
    width: calc(100% - 3rem) !important;
}





.Markdown-module--blockquote--ckTT4 {
    background-color: #def0fd;
    margin-left: 0px;
    padding: 20px;
}


.bx--row p {
    font-size: 1.2rem !important;
    font-style: normal !important;
    width: calc(100% - 3rem) !important;
}

.AutolinkHeader-module--header--dbNXG Markdown-module--h3--kj+Xb {
    background-color: #defde4;
    margin-top: 0px !important;
    padding: 10px;
}


.PageHeader-module--page-header--NqfPe {
    --height: 10rem !important;
    font-size: 1.2rem !important;

    height: 20rem;
}