/* You can add custom styles here. */


@media(prefers-color-scheme: dark) {
    :root {
        --header-background: rgb(65, 134, 201);
        --header-font-color: rgb(255, 255, 255);
        --body-background: rgb(12, 16, 24);
        --body-font-color: #ced3d8;
        --mark-color: rgb(255, 171, 0);
        --button-background: #498bcb;
        --button-border-color: rgb(65, 134, 201);
        --link-color: rgb(110, 168, 212);
        --link-color-visited: rgb(186, 142, 240);
        --accent-color: #2b3035;
        --accent-color-lite: #2f353a;
        --control-icons: #b2bac1;
        --footer-background: rgb(47, 51, 62);
        --footer-font-color: rgb(255, 255, 255);
        --footer-link-color: rgb(255, 163, 30);
        --footer-link-color-visited: rgb(255, 163, 30);
        --code-background: #2f353a;
        --code-accent-color: #262b2f;
        --code-accent-color-lite: #2b3035;
        --code-font-color: rgb(185, 185, 185);
        --code-copy-background: rgb(52, 58, 64);
        --code-copy-font-color: #6b7784;
        --code-copy-border-color: #6b7784;
        --code-copy-success-color: rgba(0, 200, 83, 0.45)
    }

.gdoc-expand {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 0.15rem;
    overflow: hidden;
    background-color: rgb(0, 0, 23);
    font-size: smaller;
}

.gdoc-expand__head {
    background-color: rgb(197, 174, 0);
    color: black;
    font-weight: bold;
    font-size:large  !important;
}


.container {
    width: 100% !important;
    max-width: 90% !important;
}

.gdoc-header {
    background: rgb(7, 6, 10);
    color: var(--header-font-color);
    border-bottom: 0.3em solid var(--footer-background);
}

.link-reverse {
    font-size: 1rem !important;
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(1, 86, 197) !important;
    padding: 15px;
    border-radius: 0.35rem !important;
    border-color: rgb(1, 19, 78) !important;
    border-style: solid;
    border-width: 1px;
    margin-left: auto; 
    margin-right: auto;
    display: block;
}

.gdoc-markdown pre, .gdoc-markdown code {
    background-color: var(--body-background);
}


code  {
    background-color: rgb(24, 37, 82) !important;
    color: rgb(255, 255, 255) !important;
    font-size: .88rem !important;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    vertical-align:middle;
}


code.language-fallback  {
    background-color: rgb(25, 15, 0) !important;
    color: rgb(0, 255, 17) !important;
    font-size: .87rem !important;
    line-height: 1.45em !important;
    padding: 0rem;
    width: 100%;
    border-radius: 0.35rem !important;
    border-color: rgb(88, 69, 5) !important;
    border-style: solid;
    border-width: 1px;
}


code.language-yaml  {
    background-color: rgb(3, 1, 31) !important;
    color: rgb(0, 255, 17) !important;
    color: rgb(214, 226, 251) !important;
    font-size: .87rem !important;
    line-height: 1.45em !important;
    padding: 0rem;
    width: 100%;
    border-radius: 0.35rem !important;
    border-color: rgb(5, 44, 88) !important;
    border-style: solid;
    border-width: 1px;

}

code.language-bash  {
    background-color: rgb(25, 15, 0) !important;
    color: rgb(0, 255, 17) !important;
    font-size: .87rem !important;
    line-height: 1.45em !important;
    padding: 0rem;
    width: 100%;
    border-radius: 0.35rem !important;
    border-color: rgb(88, 69, 5) !important;
    border-style: solid;
    border-width: 1px;
}




.gdoc-markdown blockquote {
    margin: 1rem 0;
    padding: 0.5rem 1rem 0.5rem 0.75rem;
    border-left: 5px solid rgb(255, 196, 0);
    border-radius: 0.45rem;
    background-color: rgb(34, 30, 20);
    margin-left: 20px;

}



.gdoc-hint {
    border-left-width: 10px !important;
    border-left-style: solid;
    padding: 0;
    margin-left: 25px !important;
}



.gdoc-tabs__content {
    order: 999;
    width: 100%;
    border-top: 1px solid var(--accent-color-lite);
    padding: 1rem;
    display: none;
    background-color: rgb(0, 18, 42);
}