/* You can add custom styles here. */


@media(prefers-color-scheme: dark) {
    :root {
        --header-background: rgb(65, 134, 201);
        --header-font-color: rgb(255, 255, 255);
        --body-background: rgb(12, 16, 24);
        --body-font-color: #ced3d8;
        --mark-color: rgb(255, 171, 0);
        --button-background: #498bcb;
        --button-border-color: rgb(65, 134, 201);
        --link-color: rgb(110, 168, 212);
        --link-color-visited: rgb(186, 142, 240);
        --accent-color: #2b3035;
        --accent-color-lite: #2f353a;
        --control-icons: #b2bac1;
        --footer-background: rgb(47, 51, 62);
        --footer-font-color: rgb(255, 255, 255);
        --footer-link-color: rgb(255, 163, 30);
        --footer-link-color-visited: rgb(255, 163, 30);
        --code-background: #2f353a;
        --code-accent-color: #262b2f;
        --code-accent-color-lite: #2b3035;
        --code-font-color: rgb(185, 185, 185);
        --code-copy-background: rgb(52, 58, 64);
        --code-copy-font-color: #6b7784;
        --code-copy-border-color: #6b7784;
        --code-copy-success-color: rgba(0, 200, 83, 0.45)
    }


.container {
    width: 100% !important;
    max-width: 90% !important;
}

.gdoc-header {
    background: rgb(7, 6, 10);
    color: var(--header-font-color);
    border-bottom: 0.3em solid var(--footer-background);
}

.link-reverse {
    font-size: 1rem !important;
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(1, 86, 197) !important;
    padding: 15px;
    border-radius: 0.35rem !important;
    border-color: rgb(1, 19, 78) !important;
    border-style: solid;
    border-width: 1px;
    margin-left: auto; 
    margin-right: auto;
    display: block;
}

.gdoc-markdown pre, .gdoc-markdown code {
    background-color: var(--body-background);
}


code  {
    background-color: rgb(24, 37, 82) !important;
    color: rgb(255, 255, 255) !important;
    font-size: .88rem !important;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    vertical-align:middle;
}


code.language-fallback  {
    background-color: rgb(25, 15, 0) !important;
    color: rgb(0, 255, 17) !important;
    font-size: .87rem !important;
    line-height: 1.45em !important;
    padding: 0rem;
    width: 100%;
    border-radius: 0.35rem !important;
    border-color: rgb(88, 69, 5) !important;
    border-style: solid;
    border-width: 1px;
}


code.language-yaml  {
    background-color: rgb(3, 1, 31) !important;
    color: rgb(0, 255, 17) !important;
    color: rgb(214, 226, 251) !important;
    font-size: .87rem !important;
    line-height: 1.45em !important;
    padding: 0rem;
    width: 100%;
    border-radius: 0.35rem !important;
    border-color: rgb(5, 44, 88) !important;
    border-style: solid;
    border-width: 1px;

}

code.language-bash  {
    background-color: rgb(25, 15, 0) !important;
    color: rgb(0, 255, 17) !important;
    font-size: .87rem !important;
    line-height: 1.45em !important;
    padding: 0rem;
    width: 100%;
    border-radius: 0.35rem !important;
    border-color: rgb(88, 69, 5) !important;
    border-style: solid;
    border-width: 1px;
}




.gdoc-markdown blockquote {
    border-left-width: 10px !important;
    border-left-style: solid;
    padding: 0;
    margin-left: 10px;
    background-color: rgba(134, 142, 150, .05);
    border-left-color: #0091ea;
    background-color: #f3f9fd;
    color: #ffffff;
    padding: 10px;
    padding: .25rem 1rem;
    background-color: rgba(134, 142, 150, .05);
    font-weight:normal;
    border-left-color: #0091ea;
    background-color: #a1d6f9;
    color: #343a40;
    border-radius: 0.15rem;
    font-size:medium  !important;
    margin-left:5px  !important;
    max-width: 70%;
}



.gdoc-expand {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 0.15rem;
    overflow: hidden;
    background-color: rgb(15, 15, 36);
    font-size: smaller;
    margin-top: 20px;

}

.gdoc-expand__head {
    background-color: rgb(48, 1, 64);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size:large  !important;
    border-left-color: #de00ea;
    border-left-style: solid;
    border-left-width: 6px;
}



.gdoc-expand {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--accent-color);
    border-radius: 0.15rem;
    overflow: hidden;
    background-color: rgb(15, 15, 36);
    font-size:1em  !important;
    margin-top: 20px;

}






.gdoc-tabs__content {
    order: 999;
    width: 100%;
    border-top: 1px solid var(--accent-color-lite);
    padding: 1rem;
    display: none;
    background-color: rgb(0, 18, 42);
}



.admonitionblock.link {
    border-left-color: #0091ea;
    background-color: #a6d6f5 !important;
    color: #343a40
}

.admonitionblock table td:first-child.icon i.fa.icon-link {
    background-image: url(img/geekdoc-stack.svg#gdoc_link)
}
.gdoc-hint.link {
    border-left-color: #0091ea;
    background-color: #dff0f9 !important;
    color: #343a40;
    padding: 0;
    margin-left: 0px !important;
    max-width: 100%;

}
.gdoc-hint__title i.fa.link {
    background-image: url(img/geekdoc-stack.svg#gdoc_link)
}

.gdoc-props__tag.link {
    border-color: #e5faee;
    background-color: #e31d16
}



.gdoc-hint {
    border-left-width: 10px !important;
    border-left-style: solid;
    padding: 0;
    margin-left: 2px !important;
}



.gdoc_task {
    background-color: rgb(6, 23, 135);
    color: #ffffff;    
    border-radius: 0.15rem;
    border-radius: 0.15rem;
    padding: 10px;
    border-left-color: #ff9900;
    border-left-style: solid;
    border-left-width: 6px;

    margin-bottom: 0px !important;
}


.gdoc_task_inner {
    border-left-color: #313aa2;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-color: #313aa2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 50px;

}


.gdoc_task_inner_empty {


}

.gdoc_step {
    background-color: rgb(0, 65, 0) !important;
    color: #dbffd3 !important;  
    border-radius: 0.15rem;
    border-radius: 0.15rem;
    padding: 10px;
    border-left-color: #00ea42;
    border-left-style: solid;
    border-left-width: 6px;

    margin-bottom: 0px !important;

}

.gdoc_step_inner {
    border-left-color: #15461b;
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-color: #15461b;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 20px;

}




h1 {
    color: #ffffff;    
    padding: 10px;
    border-bottom-color: #263c74;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 0px;
    margin-bottom: 0px !important;
}

h2 {
    color: #ffffff;    
    padding: 10px;
    border-left-color: #263c74;
    border-left-style: solid;
    border-left-width: 1px;
    padding: 0px !important;
    padding-left: 10px !important;
    margin-bottom: 0px !important;
}

